.pause-button {
  float: left;
  content: "";
  box-sizing: border-box;
  width: 20px;
  height: 26px;
  position: relative;
  top: 0px;
  left: 0px;
  border-style: solid;
  border-width: 0px 8px 0px 8px;
  transform: scale(.7);
  transition: 50ms all ease;
}

.pause-button-active {
  border-color: rgb(5, 46, 107);
}

.pause-button-inactive {
  border-color: rgb(6, 62, 146);
}

.pause-button-active:hover {
  cursor: pointer;
  border-color: rgb(6, 62, 146);
  transform: scale(.65);
}

.play-button {
  float: left;
  content: "";
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  position: relative;
  left: 2px;
  top: 0px;
  border-style: solid;
  border-width: 13px 0px 13px 26px;
  transform: scale(.65);
  transition: 50ms all ease;
}

.play-button-active {
  border-color: transparent transparent transparent rgb(5, 46, 107);
}

.play-button-inactive {
  border-color: transparent transparent transparent rgb(6, 62, 146);
}

.play-button-active:hover {
  cursor: pointer;
  border-color: transparent transparent transparent rgb(6, 62, 146);
  transform: scale(.6);
}

.step-button {
  float: left;
  content: "";
  box-sizing: border-box;
  width: 8px;
  height: 26px;
  position: relative;
  left: 0px;
  top: 0px;
  transform: scale(.65);
  transition: 50ms all ease;
}

.step-button-active {
  background: rgb(5, 46, 107);
}

.step-button-inactive {
  background: rgb(6, 62, 146); 
}

.step-button::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  width: 26px;
  height: 26px;
  border-style: solid;
  border-width: 13px 0px 13px 26px;
}

.step-button-active::before {
  border-color: transparent transparent transparent rgb(5, 46, 107);
}

.step-button-inactive::before {
  border-color: transparent transparent transparent rgb(6, 62, 146);
}

.step-button-active:hover {
  cursor: pointer;
  background: rgb(6, 62, 146);
  transform: scale(.6);
}

.step-button-active:hover::before {
  border-color: transparent transparent transparent rgb(6, 62, 146);
}

.reset-button {
  float: left;
  content: "";
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  position: relative;
  left: 0px;
  top: 0px;
  transform: scale(.7);
  transition: 50ms all ease;
}

.reset-button-active {
  background: rgb(5, 46, 107);
}

.reset-button-inactive {
  background: rgb(6, 62, 146);
}

.reset-button-active:hover {
  cursor: pointer;
  background: rgb(6, 62, 146);
  transform: scale(.65);
}